:root {
    --primary-color: hsl(215, 51%, 70%);
    --prim-color: hsl(178, 100%, 50%);

}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
}
.container {
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    height: 600px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 90px;
    border-radius: 20px;
    padding: 20px;
}
.container .image {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
}
.container .image img {
    max-width: 100%;
    border-radius: 20px;
}
.container .text-box {
    margin-top: 55px;
}
.container .text-box h3 {
    text-transform: capitalize;
    color: white;
    margin-bottom: 20px;
}
.container .text-box p {
    text-transform: capitalize;
    color: #888;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.8;
}
.container .text-box .inf {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.container .text-box .inf span:nth-child(1) {
    text-transform: capitalize;
    color: hsl(178, 100%, 50%);
}
.container .text-box .inf span:nth-child(2) {
    text-transform: capitalize;
    color: #888;
}

.container .line {
    width: 85%;
    height: 1px;
    background-color: #99999938;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.container .foot {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 39px;
    gap: 10px;
    text-transform: capitalize;
    color: #777;
    word-spacing: 3px;
}
.container .foot .avatar-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
}
.container .foot .avatar-image img {
    max-width: 100%;
}
.container .foot .text span {
    color: white;
    word-spacing: 2;
}